@import "~bootstrap/dist/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css";

/* Navbar icin gerekli olan css */
.bg-vestel {
  background-color: #df2027 !important;
}
.navbar-hover:hover {
  background-color: #f7272f;
}
.active:hover {
  color: black !important;
  transition: 1s;
}
.btn-navbar {
  background-color: #df2027 !important;
  box-shadow: none !important;
  border: none;
}
.nav-item {
  padding: 0 !important;
  margin: 0 !important;
}

/* Category card yapısı icin gerekli olan css */
.category-card {
  border-radius: 0px;
  border: none !important;
}
.category-card-head {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.category-title {
  font-weight: bold !important;
  color: black !important;
  text-decoration: none !important;
}
a {
  text-decoration: none !important;
}
