@import "~bootstrap/dist/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css";
@import "~react-image-gallery/styles/css/image-gallery.css";

/* Scroll'un özelleştirilmesi */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 white;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #df2027;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f7272f;
}

/* Navbar icin gerekli olan css */
.bg-vestel {
  background-color: #df2027 !important;
}
.navbar-hover:hover {
  background-color: #f7272f;
}
.active:hover {
  color: black !important;
  transition: 1s;
}
.btn-navbar {
  background-color: #df2027 !important;
  box-shadow: none !important;
  border: none;
}
.nav-item {
  padding: 0 !important;
  margin: 0 !important;
}

/* Category card yapısı icin gerekli olan css */
.category-card {
  border-radius: 0px;
  border: none !important;
}
.category-card-head {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.category-title {
  font-weight: bold !important;
  color: black !important;
  text-decoration: none !important;
}
a {
  text-decoration: none !important;
}

/* SubCategory card yapısı icin gerekli css */
.subCategory-card {
  border: 1px solid #df2027 !important;
}
.subCategory-card-head {
  box-shadow: rgba(225, 54, 54, 0.2) 0px 7px 29px 0px;
}
.subCategory-title {
  font-weight: bold !important;
  color: black !important;
  text-decoration: none !important;
}

/* ProductCard icin gerekli olan css */

.card {
  border-radius: 0px;
}
.product-card {
  border: 1px solid #ddd !important;
}
.product-card-head {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.btn-incele {
  margin: 0;
  padding: 10px;
  border: none;
  background-color: white;
  border-bottom: 3px solid #df2027;
  width: 100%;
  margin-top: 24px;
  color: #df2027;
  font-weight: bold;
}
.btn-incele:hover {
  background-color: #f7272f;
  color: white;
}
/* Product Detail şcşn gerekli olan css */
.basket {
  background-color: #df2027;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 60px;
  letter-spacing: 1px;
}
.basket:hover {
  background-color: #f7272f;
}
.category {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #df2027;
  border: none;
}
.category:hover {
  color: black;
  background-color: #df2027;
  border: none;
}
.subCategory {
  color: white;
  text-decoration: none;
  background-color: #df2027;
  border: none;
}
.subCategory:hover {
  color: black !important;
  background-color: #df2027;
  border: none;
}
